.Arrow-up {
  margin-right: 15px;
  background-color: rgb(16, 17, 17);
  border-radius: 50%;
  cursor: pointer;
}
.Arrow-Down {
  margin-right: 15px;
  background-color: rgb(17, 18, 19);
  border-radius: 50%;
  cursor: pointer;
}
.Plus-Sign {
  margin-right: 5px;
}
.user-profile-1 {
  padding-right: 5px;
}
.user-profile-2 {
  padding-right: 5px;
}
.user-profile-3 {
  padding-right: 5px;
}
.message-sender-icon {
  border: 1px;
}
