.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(243, 233, 233, 0.4);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 100px 40px;
  z-index: 1000;
  border-radius: 5%;
  color: #18181b;
  transform: translate(-50%, -50%);
  background-color: white;
  font-size: large;
}

.modal__header {
  position: absolute;
  display: flex;
  left: 5px;
  top: 5px;
  right: 5px;
}
.modal__header > label {
  flex: 0.9;
}

.modal__close {
  background-color: transparent;
  border: 0px;
  height: fit-content;
  width: fit-content;
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  color: rgb(18, 19, 20);
  font-size: 20px;
  padding: 5px 5px;
}
.modal__close:hover {
  color: rgb(219, 110, 110);
}

.modal__body > form > label > p {
  margin: 2px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
}
.form__submit__button {
  background-color: transparent;
  border: 1px solid rgb(27, 27, 27);
  border-radius: 10px;
  position: absolute;
  color: black;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
  padding: 10px;
  top: 60%;
  left: 50%;
  transform: translateX(-60%);
  width: max-content;
}
.form__submit__button:hover {
  background-color: #9f9fc2;
}

.modal__body > form > input {
  background-color: white;
  border: 1px rgb(24, 23, 23) solid;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
}
