body {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 29, 33);
  text-align: center;
  --slack-color:#350d36;
  overflow: hidden;
  font-family: 'Slack-Lato,appleLogo';
}
.mt-1{
  margin-top: 10px;
}
.ml-1 {
  margin-left: 10px;
}

.mr-1 {
  margin-right: 10px;
}
.mr-2{
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 100px;
}
.m-1 {
margin: 10px;
}
.p-1{
  padding: 10px;
}

.slack__body{
  display: flex;
  flex-direction: row;
  height: 95vh;
}
