body {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 29, 33);
  text-align: center;
}
.ml-1 {
  margin-left: 10px;
}

.mr-1 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 100px;
}
.m-1 {
margin: 10px;
}
.p-1{
  /* padding-left: 10px; */
  padding: 10px;
}

.slack-app{
  display: flex;
  flex-direction: row;
}
